body {
    margin: 0;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 10px;
    text-align: center;
}

dialog {
    margin: auto;
    padding: 50px 100px 50px 100px;
    margin-top: 15%;
    z-index: 10;
    width: 400px;
    height: 400px;

}

dialog div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

dialog div button {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    image-rendering: pixelated;
    height: 100vh;
}

#stage-container {
    background-color: transparent;
    cursor: none;
    margin: 4rem;
}